.page__read {
  width: 100%;
  max-width: 800px;
}
.page__read-title {
  font-weight: 700;
}
.page__read-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 4.5rem;
  height: 1.625rem;
  font-size: 0.75rem;
  color: #ffffff;
  background: #283a61;
  margin: 0.325rem 0;
}
.page__read-meta-group {
  display: flex;
  justify-content: space-between;
}
.page__read-meta {
  font-size: 0.875rem;
  color: #515151;
}
.page__read-profile {
  font-size: 0.875rem;
  color: #515151;
  margin: 0.25rem 0;
}
.page__read-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.page__read-btn {
  background: transparent;
  border: none;
  color: #605c59;
  text-decoration: underline;
  cursor: pointer;
}
.page__read-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.page__read-profile--name {
  font-size: 0.875rem;
  font-weight: normal;
}
.page__read-desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-width: 800px;
  color: #434343;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.page__read-desc p {
  margin-bottom: 1rem;
}
.page__recommend {
  width: 100%;
  max-width: 800px;
  margin: 1rem 0;
}
.page__recommend-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.page__recommend-lists li {
  margin: 1.25rem 0;
}
.page__recommend-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}
.page__recommend-img {
  width: 260px;
  height: 160px;
  object-fit: cover;
  border-radius: 0.375rem;
  flex-shrink: 0;
}
.page__recommend-subtitle {
  margin-bottom: 0.5rem;
  font-size: 1.325rem;
  line-height: 1.75rem;
  font-weight: 700;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.page__recommend-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4b4b4b;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  overflow-wrap: anywhere;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media (min-width: 320px) {
  .page__read-title {
    font-size: 1.625rem;
  }
}

@media (min-width: 420px) {
  .page__read-desc {
    font-size: 1rem;
  }
  .page__read-desc p {
    margin-bottom: 0.5rem;
  }
  .page__recommend-title {
    font-size: 1.5rem;
  }
  .page__recommend-subtitle {
    font-size: 1.175rem;
  }
  .page__recommend-desc {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .page__recommend-list {
    flex-direction: row;
  }
  .page__recommend-img {
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  .page__read-title {
    font-size: 1.825rem;
  }
}

@media (min-width: 1024px) {
  .page__read-desc {
    font-size: 1rem;
  }
}
