/* footer */
.page__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background: #f5f5f5;
}
.page__footer-copy {
  color: #605c59;
}

.page__footer-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.page__footer-link {
  color: #605c59;
}

.page__footer-link:hover {
  text-decoration: underline;
}
