.page__write {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 42rem;
  width: 100%;
}

.page__write-text {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #111827;
}
.page__write-form {
  display: grid;
  gap: 1rem;
}
.page__write-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #111827;
}
.page__write-input {
  display: block;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  background-color: #f9fafb;
}
.page__write-select {
  display: block;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #d1d5db;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  background-color: #f9fafb;
}
.page__write-file {
  display: block;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  cursor: pointer;
  height: 42px;
  padding: 7px;
  background-color: #f9fafb;
}
.page__write-file--hidden {
  display: none;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #111827;
}
.page__write-textarea {
  display: block;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  width: 100%;
  height: 15rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  background-color: #f9fafb;
}
.page--btn {
  display: inline-flex;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 640px) {
  .page__write-form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .page__write-group {
    grid-column: span 2 / span 2;
  }
}
