* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  outline: none;
  font-family: inherit;
}
html {
  position: relative;
  left: calc((100vw - 100%) / 2);
  overflow-x: hidden;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
button {
  cursor: pointer;
}
.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

/* main */
.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  min-height: calc(100vh - 131px - 128px - 96px);
}

/* index.css (전역/레이아웃/루트) */

@media (min-width: 320px) {
  html {
    font-size: 14px;
    position: relative;
    left: calc((100vw - 100%) / 2);
  }
  .page {
    max-width: 100%;
  }
  .page__main {
    min-height: calc(100vh - 114px - 110px - 96px);
  }
}

@media (min-width: 420px) {
  html {
    font-size: 15px;
    position: static;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
    position: relative;
    left: calc((100vw - 100%) / 2);
  }
  .page {
    max-width: 640px;
  }
  .page__main {
    min-height: calc(100vh - 131px - 128px - 96px);
  }
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
